<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaeckel.direct"
    android:versionCode="2"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.NFC" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DirectTheme" >
        <activity android:name=".DirectActivity" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/vdn.com.jaeckel.direct.distribute" />
            </intent-filter>
        </activity>
        <receiver android:name=".NotificationReceiver">
        </receiver>
    </application>

</manifest>